# Test Results

| Test Case Number | Test Case ID | Group Member | Pass/Fail | Comments|
|--------------|------------------------|-----------|---------|--------|
| 1 | status_200   | John Paglia            | Fail      | None    |
| 1 | status_200   | John Paglia            | Pass      | None    |
| 2 | status_400   | John Paglia            | Pass      | None    |
| 3 | status_401   | John Paglia            | Pass      | None    |
| 4 | status_404   | John Paglia            | Pass      | None    |
| 5 | status_500   | John Paglia            | Pass      | None    |
| 6 | signup_create| John Paglia            | Fail      | None    |
| 6 | signup_create| John Paglia            | Pass      | None    |
| 7 | password_nolowercase | Megan Resurreccion     | Pass      | None    |
| 8 | password_yeslowercase| Megan Resurreccion     | Pass      | None    |
| 9 |  password_nouppercase | Megan Resurreccion     | Pass      | None    |
| 10 | password_yesuppercase| Megan Resurreccion     | Fail      | None    |
| 10 | password_yesuppercase| Megan Resurreccion     | Pass      | None    |
| 11 | password_nonletters_missing  | Megan Resurreccion     | Pass      | None    |
| 12 | password_nonletters_contains | Harshal Bhole          | Fail      | None    |
| 12 | password_nonletters_contains | Harshal Bhole          | Pass      | None    |
| 13 | password_lessthan8  | Harshal Bhole          | Pass      | None    |
| 14 | password_morethan7  | Harshal Bhole          | Pass      | None    |
| 15 | username_lessthan8  | Harshal Bhole          | Pass      | None    |
| 16 | username_morethan7  | Harshal Bhole          | Fail      | None    |
| 16 |username_morethan7  | Harshal Bhole          | Pass      | None    |
