# Test Results

| Test Case ID | Group Member           | Pass/Fail | Comments|
|--------------|------------------------|-----------|---------|
| status_200   | John Paglia            | Pass      | None    |
| status_400   | John Paglia            | Pass      | None    |
| status_401   | John Paglia            | Pass      | None    |
| status_404   | John Paglia            | Pass      | None    |
| status_500   | John Paglia            | Pass      | None    |
| signup_create| John Paglia            | Pass      | None    |
| password_nolowercase | Megan Resurreccion     | Pass      | None    |
| password_yeslowercase| Megan Resurreccion     | Pass      | None    |
| password_nouppercase | Megan Resurreccion     | Pass      | None    |
| password_yesuppercase| Megan Resurreccion     | Pass      | None    |
| password_nonletters_missing  | Megan Resurreccion     | Pass      | None    |
| password_nonletters_contains | Harshal Bhole          | Pass      | None    |
| password_lessthan8  | Harshal Bhole          | Pass      | None    |
| password_morethan7  | Harshal Bhole          | Pass      | None    |
| username_lessthan8  | Harshal Bhole          | Pass      | None    |
| username_morethan7  | Harshal Bhole          | Pass      | None    |
