.news_outer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: .5rem;
}

.pageCont{
    height: fit-content;
    width: fit-content;
    display: block;
    position: relative;
   
}



