.newslinks{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: blue;
    margin: .5rem .5rem;
}

.newslink{
    width: 25%;
    height: 100%;

}

.newslink button{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: .75rem;
    font-family: Helvetica;
}

.newslink button:hover{
    background-color: #02908b;
    color: white;
    border: none;
}

.newslink button:active{
    background-color: #02908b;
}
