

.header{
    width: 100%;
    height: 100%;
    padding: 0 .5rem;
    background-color: gray;
    display: flex;
    align-items: center;
    color:white;   
}

.innerheader{
    display: flex;
    width: 100%;
    
}

.title{
    height: fit-content;
    min-width: fit-content;
    font-size: 1.5rem;
}

.sign_main{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.sign_main .sgnbtn{
    border-radius: 5px;
    border: none;
    min-width: 3rem;
}

.sign_main .sgnbtn:hover{
    background-color: black;
    color:white;
}

.signin :not(:first-child){
    margin-left: .5rem;
}

.usertag{
    margin-right: 1rem;
}

.signout{
    border-radius: 5px;
    outline: none;
    border:none;
    padding: 0 5px;
}

.signout:hover{
    color:white;
    background-color: black;
}