*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sett_choices{
    display: flex;
    flex-direction: column;
}

.sett_choice{
    display: flex;
    width: 40%;
    height: 25px;
    background-color: #b4fbf8;
    border: 1px solid black;
    align-items: center;
}

.sett_inner{
    display: flex;
    flex-direction: row;
}

.sett_choice label{
    width: 75%;
    height: 100%;

    vertical-align: middle;
    font-size: 1.5rem;
}

.sett_choice input[type="checkbox"]{
    width: 25px;
    height: 50px;
}

.sett_title{
  text-align: center;
  color: #02908b;
  font-family: Arial;
  font-size: 20px;
}

.checkq{
  background-color: #02908b;
  color: white;
  padding: 10px 20px;
  font-family: Arial;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
